# true = permite login de desenvolvimento se a API estiver indisponível
# false = exige autenticação pela API/SQL
EXPO_PUBLIC_MODO_TESTE=true

# Android Emulator:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3000
# Celular físico (exemplo):
# EXPO_PUBLIC_API_URL=http://192.168.0.15:3000
